@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.messageLogin {
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 16px;

  border: 1px solid $medium-gray;
  border-radius: 10px;

  @include d-flex-standart;

  button {
    width: 95%;
    max-width: 150px;
    margin-top: 20px;
    padding: 8px;

    color: $light;
    text-align: center;

    background: $semi-dark;
    border: 1px solid $semi-dark;
    border-radius: 10px;

    &:hover {
      color: $dark;

      background-color: $light;
    }

    &[disabled] {
      color: $dis-col;

      background: $dis-back;
      cursor: default;
    }
  }
}

.dark {
  color: $light;

  button {
    background-color: $medium-gray;
  }
}
