// $primary: #292f37;
// $secondary: #eaedf1;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #b4323f;
// $light: #fbfcfc;
// $dark: #343a40;
// $semi-dark: #363d45;
// $black: #000;
$dark: #212121;
$medium-gray: #666;
$light-gray: #e0e0e0;
$white: #fff;
$light: #f7f7f7;
