$primary: #292f37;
$secondary: #eaedf1;
$success: #28a745;
$blue: #17a2b8;
$warning: #ffc107;
$danger: #b4323f;
$semi-dark: #363d45;
$dark: #212121;
$medium-gray: #666;
$light-gray: #e0e0e0;
$white: #fff;
$light: #f7f7f7;
$dis-col: #d2d5db;
$dis-back: #6c7589;

$width1: 1140px;
