@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.card {
  width: 190px;
  padding: 16px;

  color: $dark;

  background: url("../../../../assets/images/icons/pokeball-back.svg")  no-repeat  90px -10px;
  border: 1px solid $medium-gray;
  border-radius: 15px;

  &:hover {
    color: $light;

    background-color: $blue;
  }

  @media screen and (max-width: $breakpoint5) {
    width: $width5;
    max-width: 300px;

    background-size: 240px;
  }
}

.name {
  display: block;
  min-height: 48px;
  margin-top: 10px;

  font-weight: bold;

  text-align: center;
  text-transform: capitalize;
}

.image {
  width: 156px;
  height: 156px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint5) {
    width: 80%;
    height: auto;
  }
}

.button {
  display: block;
  width: 95%;
  max-width: 150px;
  margin: 10px auto 0;
  padding: 8px;

  color: $light;
  text-align: center;

  background: $semi-dark;
  border-radius: 10px;

  &:hover {
    color: $dark;

    background-color: $light;
  }

  &[disabled] {
    color: $dis-col;

    background: $dis-back;
  }
}
