@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.card {
  width: 200px;
  height: 290px;
  margin: 0 15px 30px;
  padding: 10px;

  color: $dark;

  background: url("../../../../assets/images/icons/pokeball-back.svg")  no-repeat  90px -10px;
  border: 1px solid $medium-gray;
  border-radius: 15px;

  &:active {
    background-color: $light;
  }

  &:hover {
    color: $light;

    background-color: $blue;
  }

  @media screen and (max-width: $breakpoint4) {
    width: 150px;
    height: 240px;
    margin: 0 4px 8px;
  }

  @media screen and (max-width: $breakpoint5) {
    width: 100px;
    height: 180px;
    margin: 0 4px 8px;

    @include font-size(10, 16);

    background-position: 55px -2px;
    background-size: 50px;
  }
}

.name {
  display: block;
  min-height: 48px;
  margin-top: 10px;

  font-weight: bold;

  text-align: center;
  text-transform: capitalize;

  @media screen and (max-width: $breakpoint5) {
    min-height: 32px;
  }
}

.image {
  width: 80%;
  margin: 0 auto;

  img {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint5) {
    width: 95%;
  }
}

.button {
  display: block;
  width: 95%;
  max-width: 150px;
  margin: 10px auto 0;
  padding: 8px;

  color: $light;
  text-align: center;

  background: $semi-dark;
  border-radius: 10px;

  &:hover {
    color: $dark;

    background-color: $light;
  }

  &[disabled] {
    color: $dis-col;

    background: $dis-back;
  }

  @media screen and (max-width: $breakpoint5) {
    margin-top: 5px;
  }
}
