@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.navigation {
  a {
    padding: 8px;

    color: $light;

    border-radius: 10px;

    transition: 0.3s;

    &:hover {
      color: $dark;

      background-color: $light;
    }
  }

  .selected {
    color: $dark;

    background-color: $light;
    border-radius: 10px;
  }

  ul {
    @include d-flex-standart;

    column-gap: 25px;

    @media screen and (max-width: $breakpoint4) {
      // display: none;
    }
  }
}

.toggleMenu {
  position: relative;

  display: none;
  width: 34px;
  height: 34px;

  cursor: pointer;

  @media screen and (max-width: $breakpoint4) {
    display: block;
  }
}

.toggleOne {
  position: absolute;
  top: 10px;

  width: 34px;
  height: 2px;

  background: $light;

  transition: 0.4s ease;

  content: "";
}

.toggleTwo {
  position: absolute;
  top: 22px;

  width: 34px;
  height: 2px;

  background: $light;

  transition: 0.4s ease;

  content: "";
}
